<div class="label-list-section pad-tb-10 ">
    <div class="grouped-button mar-tb-10">
        <a href="#/labels" class=" button-item">Labels</a>
        <a href="#/milestones" class=" button-item selected">Milestones</a>
    </div>
    <div class="label-list-table mar-10">
        <div class="table-header overflow-style">
            <div class="open-th pull-left pad-tb-10">
                <img src="http://i63.tinypic.com/w8rwxc.png" class="pad-5px"></img><span>1 Open</span>
            </div>
            <div class="close-th pull-left pad-tb-10">
                <span class="pad-15"><i class="fa fa-check" aria-hidden="true"></i> 26 Closed</span>
            </div>
            <div class="author-th pull-right pad-tb-10 author-button">
                <span class="pad-15">Sort<i class="fa fa-caret-down pad-5px" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="table-body overflow-style">
            <div class="table-row overflow-style pad-tb-5">
                <div class="issue-heading pull-left pad-15">
                    <h2>v4.1 ideas</h2>
                    <div><span>No due date</span><i class="glyphicon glyphicon-time mar-10"></i><span> Last Updated 18 hours ago</span></div>
                </div>
                <div class="progress-details pull-right pad-5px ">
                   <span class="progress-bar-style"><span  class="completedStat"></span></span>
                   <div><span>8% completed</span><span class="pad-5px">  41 open </span><span> 4 closed</span></div>
                </div>
            </div>
        </div>
    </div>
</div>